# ─────────────────────────────────────────────
# BASE DE DATOS - MySQL
# Formato: mysql://usuario:password@host:puerto/nombre_base_de_datos
DATABASE_URL="mysql://root:PASSWORD@localhost:3306/sneark_db"
# ─────────────────────────────────────────────

# SERVIDOR
PORT=3000
FRONTEND_ORIGIN=http://localhost:4200

# JWT
JWT_SECRET=
# Duración del token: entero positivo seguido de s, m, h, d, w o y (por ejemplo, 7d)
JWT_EXPIRES_IN=7d

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
