# ─────────────────────────────────────────────
# BASE DE DATOS - MySQL
# Formato: mysql://usuario:password@host:puerto/nombre_base_de_datos
DATABASE_URL="mysql://root:PASSWORD@localhost:3306/sneark_db"
# ─────────────────────────────────────────────

# SERVIDOR
PORT=3000

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
